<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather Information</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/forecast.css" />
</head>
<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">WeatherHub</a></li>
          <li><a href="/searchlocation" class="nav-link px-2 text-white">Location Search</a></li>
          <li><a href="/map" class="nav-link px-2 text-white">Map</a></li>
          <li><a href="/registerabout" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="text-end">
        <button type="button" class="btn btn-warning"><a class="line" href="/logout">Logout</a></button>
        </div>
      </div>
    </div>
  </header>
  <div id="coordinates">
    <h2>Weather Information</h2>
    <p id="locationName"></p>
    <p id="temperature"></p>
    <p id="windSpeed"></p>
    <p id="humidity"></p>
    <p id="weatherCondition"></p>
  </div>
  <script src="javascripts/forecast.js"></script>
  <script>
    const locationNameElement = document.getElementById('locationName');
    const temperatureSpan = document.getElementById('temperature');
    const windSpeedSpan = document.getElementById('windSpeed');
    const humiditySpan = document.getElementById('humidity');
    const weatherConditionSpan = document.getElementById('weatherCondition');
    
    // Retrieve parameters from URL
    const params = new URLSearchParams(window.location.search);
    const lat = params.get('lat');
    const lng = params.get('lng');

    // Fetch location name and weather data
    fetchWeatherData(lat, lng);

    async function fetchWeatherData(lat, lng) {
      try {
        // Fetch location name
        const locationResponse = await fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`);
        const locationData = await locationResponse.json();
        const locationName = locationData.display_name;
        locationNameElement.textContent = `City: ${locationName}`;

        // Fetch weather data
        const weatherResponse = await fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=487e7565368442e72c2238a50b532484`);
        const weatherData = await weatherResponse.json();

        const temperature = KtoC(weatherData.main.temp);
        const humidity = weatherData.main.humidity;
        const windSpeed = (weatherData.wind.speed*2.24).toFixed(2);
        const weatherCondition = weatherData.weather[0].description;

        temperatureSpan.textContent = `Temperature: ${temperature}°C`;
        windSpeedSpan.textContent = `Wind Speed: ${windSpeed} mph`;
        humiditySpan.textContent = `Humidity: ${humidity}%`;
        weatherConditionSpan.textContent = `Weather Condition: ${weatherCondition}`;
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    function KtoC(K) {
      return Math.floor(K - 273.15);
    }
  </script>
</body>
</html>
